<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControladorTipoDocumento</servlet-name>
        <servlet-class>Controlador.ControladorTipoDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVaca</servlet-name>
        <servlet-class>Controlador.ControladorVaca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor</servlet-name>
        <servlet-class>Controlador.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProcedimientos</servlet-name>
        <servlet-class>Controlador.ControladorProcedimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPerfil</servlet-name>
        <servlet-class>Controlador.ControladorPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMedicamentos</servlet-name>
        <servlet-class>Controlador.ControladorMedicamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCiudad</servlet-name>
        <servlet-class>Controlador.ControladorCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProduccion</servlet-name>
        <servlet-class>Controlador.ControladorProduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContraladorPR</servlet-name>
        <servlet-class>Controlador.ControladorPR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNuevo</servlet-name>
        <servlet-class>Controlador.ControladorNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCicloReproductivo</servlet-name>
        <servlet-class>Controlador.ControladorCicloReproductivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHistoriaClini</servlet-name>
        <servlet-class>Controlador.ControladorHistoriaClini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHistoriaClinica</servlet-name>
        <servlet-class>Controlador.ControladorHistoriaClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorControlador</servlet-name>
        <servlet-class>Controlador.ProveedorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor2</servlet-name>
        <servlet-class>Controlador.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor3</servlet-name>
        <servlet-class>Controlador.ControladorProveedor3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorValidarUsuario</servlet-name>
        <servlet-class>Controlador.ControladorValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorValidar</servlet-name>
        <servlet-class>Controlador.ControladorValidar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorTipoDocumento</servlet-name>
        <url-pattern>/ControladorTipoDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVaca</servlet-name>
        <url-pattern>/ControladorVaca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor</servlet-name>
        <url-pattern>/ControladorProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProcedimientos</servlet-name>
        <url-pattern>/ControladorProcedimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPerfil</servlet-name>
        <url-pattern>/ControladorPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMedicamentos</servlet-name>
        <url-pattern>/ControladorMedicamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCiudad</servlet-name>
        <url-pattern>/ControladorCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProduccion</servlet-name>
        <url-pattern>/ControladorProduccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContraladorPR</servlet-name>
        <url-pattern>/ContraladorPR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNuevo</servlet-name>
        <url-pattern>/ControladorNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCicloReproductivo</servlet-name>
        <url-pattern>/ControladorCicloReproductivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHistoriaClini</servlet-name>
        <url-pattern>/ControladorHistoriaClini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHistoriaClinica</servlet-name>
        <url-pattern>/ControladorHistoriaClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorControlador</servlet-name>
        <url-pattern>/ProveedorControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor2</servlet-name>
        <url-pattern>/ControladorProveedor2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor3</servlet-name>
        <url-pattern>/ControladorProveedor3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorValidarUsuario</servlet-name>
        <url-pattern>/ControladorValidarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorValidar</servlet-name>
        <url-pattern>/ControladorValidar</url-pattern>
    </servlet-mapping>
</web-app>
